<launch>

    <arg name="robot_name" default="sam"/>

    <!-- Serial parameters  -->
    <arg name="driver_port" default="$(optenv NANOMODEM_PORT /dev/ttyUSB3)" />
    <arg name="driver_baud" default="$(optenv NANOMODEM_BAUD 9600)" />

    <!-- Load labust nanomodem driver -->
    <node pkg="ros_trilux" type="trilux_node" name="fluorometer_node" output="screen" ns="$(arg robot_name)">
        <param name="port" value="$(arg driver_port)"/>
        <param name="baud" value="$(arg driver_baud)"/>
    </node>

</launch>